<h1>Recipe List</h1>
<%= link_to 'Add Recipe', new_recipe_path %>

<% if @recipes.empty? %>
  <p>No recipes yet. Please add a recipe.</p>
<% else %>
<div> 
  <ul>
    <% @recipes.each do |recipe| %>
        <li>
          <h4><%= recipe.name %></h4>
          <p><%= recipe.description %></p>
          <% if can? :destroy,recipe %>
            <%= link_to 'Remove', recipe, data: { turbo_method: :delete, turbo_confirm: 'You are about to delete this recipe! Do you want to continue?' }, type:"button" %>
          <% end %>
        </li>
    <% end %> 
  </ul>
</div>
<% end %>